SET A

Write a Python program using Pandas to count the number of rows and columns of a DataFrame.

In [1]:
import pandas as pd
import numpy as np

# Create the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

# Count the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 10
Number of columns: 4

SET B

Write a program to select the 'attempts' and 'qualify' columns from the following DataFrame.

In [2]:
import pandas as pd
import numpy as np

# Create the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

# Select the 'attempts' and 'qualify' columns
selected_columns = df[['attempts', 'qualify']]

print(selected_columns)

   attempts qualify
a         1     yes
b         3      no
c         2     yes
d         3      no
e         2      no
f         3     yes
g         1     yes
h         1      no
i         2      no
j         1     yes

SET C

Write a Python program using Pandas to select the rows the score is between 15 and 20 (inclusive).

In [5]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

filtered_df = df[(df['score'] >= 15) & (df['score'] <= 20)]

print(filtered_df)

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes